# https://docs.gitlab.com/ee/ci/pipelines/pipeline_architectures.html
# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

stages:
  - setup
  - test
  - build

default:
  image: python:3.7

setup_venv:
  stage: setup
  cache:
    paths:
      - .cache/pip
      - venv/
  before_script:
    - python -V
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
  script:
    - make dev-install

lint:
  stage: test
  needs: [setup_venv]
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  cache:
    paths:
      - .cache/pip
      - venv/
  before_script:
    - python -V
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
  script:
    - make lint

test:
  stage: test
  needs: [setup_venv]
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  cache:
    paths:
      - .cache/pip
      - venv/
  before_script:
    - python -V
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pytest --version
  script:
    - make test

build_docker:
  stage: build
  needs: [test]
  image: docker
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  before_script:
    - docker info
    - apk update
    - apk add make
  script:
    - make build
